In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re

from sqlalchemy import create_engine
import psycopg2
from config import db_password

In [2]:
fram2_data_df = pd.read_csv('frmgham2.csv')
fram2_data_df

,RANDID,SEX,TOTCHOL,AGE,SYSBP,DIABP,CURSMOKE,CIGPDAY,BMI,DIABETES,...,CVD,HYPERTEN,TIMEAP,TIMEMI,TIMEMIFC,TIMECHD,TIMESTRK,TIMECVD,TIMEDTH,TIMEHYP
0,2448,1,195.0,39,106.0,70.0,0,0.0,26.97,0,...,1,0,8766,6438,6438,6438,8766,6438,8766,8766
1,2448,1,209.0,52,121.0,66.0,0,0.0,NaN,0,...,1,0,8766,6438,6438,6438,8766,6438,8766,8766
2,6238,2,250.0,46,121.0,81.0,0,0.0,28.73,0,...,0,0,8766,8766,8766,8766,8766,8766,8766,8766
3,6238,2,260.0,52,105.0,69.5,0,0.0,29.43,0,...,0,0,8766,8766,8766,8766,8766,8766,8766,8766
4,6238,2,237.0,58,108.0,66.0,0,0.0,28.50,0,...,0,0,8766,8766,8766,8766,8766,8766,8766,8766
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11622,9998212,1,173.0,46,126.0,82.0,0,0.0,19.17,0,...,0,1,8766,8766,8766,8766,8766,8766,8766,0
11623,9998212,1,153.0,52,143.0,89.0,0,0.0,25.74,0,...,0,1,8766,8766,8766,8766,8766,8766,8766,0
11624,9999312,2,196.0,39,133.0,86.0,1,30.0,20.91,0,...,0,1,8766,8766,8766,8766,8766,8766,8766,4201
11625,9999312,2,240.0,46,138.0,79.0,1,20.0,26.39,0,...,0,1,8766,8766,8766,8766,8766,8766,8766,4201
11626,9999312,2,NaN,50,147.0,96.0,1,10.0,24.19,0,...,0,1,8766,8766,8766,8766,8766,8766,8766,4201

In [3]:
# sum null values
fram2_data_df.isnull().sum()

RANDID         0
SEX            0
TOTCHOL      409
AGE            0
SYSBP          0
DIABP          0
CURSMOKE       0
CIGPDAY       79
BMI           52
DIABETES       0
BPMEDS       593
HEARTRTE       6
GLUCOSE     1440
educ         295
PREVCHD        0
PREVAP         0
PREVMI         0
PREVSTRK       0
PREVHYP        0
TIME           0
PERIOD         0
HDLC        8600
LDLC        8601
DEATH          0
ANGINA         0
HOSPMI         0
MI_FCHD        0
ANYCHD         0
STROKE         0
CVD            0
HYPERTEN       0
TIMEAP         0
TIMEMI         0
TIMEMIFC       0
TIMECHD        0
TIMESTRK       0
TIMECVD        0
TIMEDTH        0
TIMEHYP        0
dtype: int64

In [4]:
# Drop columns not needed. (does not match with the Kaggle Framingham data) with lower importance 

fram2_data_df.drop(['HDLC', 'LDLC'], axis= 1, inplace=True)
fram2_data_df

,RANDID,SEX,TOTCHOL,AGE,SYSBP,DIABP,CURSMOKE,CIGPDAY,BMI,DIABETES,...,CVD,HYPERTEN,TIMEAP,TIMEMI,TIMEMIFC,TIMECHD,TIMESTRK,TIMECVD,TIMEDTH,TIMEHYP
0,2448,1,195.0,39,106.0,70.0,0,0.0,26.97,0,...,1,0,8766,6438,6438,6438,8766,6438,8766,8766
1,2448,1,209.0,52,121.0,66.0,0,0.0,NaN,0,...,1,0,8766,6438,6438,6438,8766,6438,8766,8766
2,6238,2,250.0,46,121.0,81.0,0,0.0,28.73,0,...,0,0,8766,8766,8766,8766,8766,8766,8766,8766
3,6238,2,260.0,52,105.0,69.5,0,0.0,29.43,0,...,0,0,8766,8766,8766,8766,8766,8766,8766,8766
4,6238,2,237.0,58,108.0,66.0,0,0.0,28.50,0,...,0,0,8766,8766,8766,8766,8766,8766,8766,8766
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11622,9998212,1,173.0,46,126.0,82.0,0,0.0,19.17,0,...,0,1,8766,8766,8766,8766,8766,8766,8766,0
11623,9998212,1,153.0,52,143.0,89.0,0,0.0,25.74,0,...,0,1,8766,8766,8766,8766,8766,8766,8766,0
11624,9999312,2,196.0,39,133.0,86.0,1,30.0,20.91,0,...,0,1,8766,8766,8766,8766,8766,8766,8766,4201
11625,9999312,2,240.0,46,138.0,79.0,1,20.0,26.39,0,...,0,1,8766,8766,8766,8766,8766,8766,8766,4201
11626,9999312,2,NaN,50,147.0,96.0,1,10.0,24.19,0,...,0,1,8766,8766,8766,8766,8766,8766,8766,4201

# Transform some of the columns to more useable data

In [5]:
# Make new cloumn called "male" which changes 'SEX' to binary based on Male  
# Male = 1 and female = 2...... Will change to Male=1 and Female = 0
fram2_data_df['male']=fram2_data_df['SEX'].apply(lambda x: 1 if x==1 else 0)

fram2_data_df

,RANDID,SEX,TOTCHOL,AGE,SYSBP,DIABP,CURSMOKE,CIGPDAY,BMI,DIABETES,...,HYPERTEN,TIMEAP,TIMEMI,TIMEMIFC,TIMECHD,TIMESTRK,TIMECVD,TIMEDTH,TIMEHYP,male
0,2448,1,195.0,39,106.0,70.0,0,0.0,26.97,0,...,0,8766,6438,6438,6438,8766,6438,8766,8766,1
1,2448,1,209.0,52,121.0,66.0,0,0.0,NaN,0,...,0,8766,6438,6438,6438,8766,6438,8766,8766,1
2,6238,2,250.0,46,121.0,81.0,0,0.0,28.73,0,...,0,8766,8766,8766,8766,8766,8766,8766,8766,0
3,6238,2,260.0,52,105.0,69.5,0,0.0,29.43,0,...,0,8766,8766,8766,8766,8766,8766,8766,8766,0
4,6238,2,237.0,58,108.0,66.0,0,0.0,28.50,0,...,0,8766,8766,8766,8766,8766,8766,8766,8766,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11622,9998212,1,173.0,46,126.0,82.0,0,0.0,19.17,0,...,1,8766,8766,8766,8766,8766,8766,8766,0,1
11623,9998212,1,153.0,52,143.0,89.0,0,0.0,25.74,0,...,1,8766,8766,8766,8766,8766,8766,8766,0,1
11624,9999312,2,196.0,39,133.0,86.0,1,30.0,20.91,0,...,1,8766,8766,8766,8766,8766,8766,8766,4201,0
11625,9999312,2,240.0,46,138.0,79.0,1,20.0,26.39,0,...,1,8766,8766,8766,8766,8766,8766,8766,4201,0
11626,9999312,2,NaN,50,147.0,96.0,1,10.0,24.19,0,...,1,8766,8766,8766,8766,8766,8766,8766,4201,0

In [11]:
# Make new cloumn called "CHD" which looks at if Patient had CHD at that visit 
def CHD(x):
    if x['TIMECHD'] >= x['TIME']:
        return 0
    return 1
                                       
fram2_data_df['CHD'] = fram2_data_df.apply(CHD, axis=1)

In [15]:
#checking function worked
fram2_data_df.head(20)

,RANDID,SEX,TOTCHOL,AGE,SYSBP,DIABP,CURSMOKE,CIGPDAY,BMI,DIABETES,...,TIMEAP,TIMEMI,TIMEMIFC,TIMECHD,TIMESTRK,TIMECVD,TIMEDTH,TIMEHYP,male,CHD
0,2448,1,195.0,39,106.0,70.0,0,0.0,26.97,0,...,8766,6438,6438,6438,8766,6438,8766,8766,1,0
1,2448,1,209.0,52,121.0,66.0,0,0.0,NaN,0,...,8766,6438,6438,6438,8766,6438,8766,8766,1,0
2,6238,2,250.0,46,121.0,81.0,0,0.0,28.73,0,...,8766,8766,8766,8766,8766,8766,8766,8766,0,0
3,6238,2,260.0,52,105.0,69.5,0,0.0,29.43,0,...,8766,8766,8766,8766,8766,8766,8766,8766,0,0
4,6238,2,237.0,58,108.0,66.0,0,0.0,28.50,0,...,8766,8766,8766,8766,8766,8766,8766,8766,0,0
5,9428,1,245.0,48,127.5,80.0,1,20.0,25.34,0,...,8766,8766,8766,8766,8766,8766,8766,8766,1,0
6,9428,1,283.0,54,141.0,89.0,1,30.0,25.34,0,...,8766,8766,8766,8766,8766,8766,8766,8766,1,0
7,10552,2,225.0,61,150.0,95.0,1,30.0,28.58,0,...,2956,2956,2956,2956,2089,2089,2956,0,0,0
8,10552,2,232.0,67,183.0,109.0,1,20.0,30.18,0,...,2956,2956,2956,2956,2089,2089,2956,0,0,0
9,11252,2,285.0,46,130.0,84.0,1,23.0,23.10,0,...,8766,8766,8766,8766,8766,8766,8766,4285,0,0
10,11252,2,343.0,51,109.0,77.0,1,30.0,23.48,0,...,8766,8766,8766,8766,8766,8766,8766,4285,0,0
11,11252,2,NaN,58,155.0,90.0,1,30.0,24.61,0,...,8766,8766,8766,8766,8766,8766,8766,4285,0,0
12,11263,2,228.0,43,180.0,110.0,0,0.0,30.30,0,...,8766,8766,5719,5719,8766,5719,8766,0,0,0
13,11263,2,230.0,49,177.0,102.0,0,0.0,31.36,0,...,8766,8766,5719,5719,8766,5719,8766,0,0,0
14,11263,2,220.0,55,180.0,106.0,0,0.0,31.17,1,...,8766,8766,5719,5719,8766,5719,8766,0,0,0
15,12629,2,205.0,63,138.0,71.0,0,0.0,33.11,0,...,373,8766,8766,373,8766,8766,8766,2212,0,0
16,12629,2,220.0,70,149.0,81.0,0,0.0,36.76,0,...,373,8766,8766,373,8766,8766,8766,2212,0,1
17,12806,2,313.0,45,100.0,71.0,1,20.0,21.68,0,...,8766,8766,8766,8766,8766,8766,8766,8679,0,0
18,12806,2,NaN,51,109.5,72.5,1,30.0,22.19,0,...,8766,8766,8766,8766,8766,8766,8766,8679,0,0
19,12806,2,320.0,57,110.0,46.0,1,30.0,22.02,0,...,8766,8766,8766,8766,8766,8766,8766,8679,0,0

In [18]:
fram2_data_df.drop(columns = ['SEX', 'TIMEAP', 'TIMEMI', 'TIMEMIFC', 'TIMECHD', 'TIMECVD', 'TIMEHYP', 'TIMEDTH'], axis = 1, inplace = True )
fram2_data_df

,RANDID,TOTCHOL,AGE,SYSBP,DIABP,CURSMOKE,CIGPDAY,BMI,DIABETES,BPMEDS,...,ANGINA,HOSPMI,MI_FCHD,ANYCHD,STROKE,CVD,HYPERTEN,TIMESTRK,male,CHD
0,2448,195.0,39,106.0,70.0,0,0.0,26.97,0,0.0,...,0,1,1,1,0,1,0,8766,1,0
1,2448,209.0,52,121.0,66.0,0,0.0,NaN,0,0.0,...,0,1,1,1,0,1,0,8766,1,0
2,6238,250.0,46,121.0,81.0,0,0.0,28.73,0,0.0,...,0,0,0,0,0,0,0,8766,0,0
3,6238,260.0,52,105.0,69.5,0,0.0,29.43,0,0.0,...,0,0,0,0,0,0,0,8766,0,0
4,6238,237.0,58,108.0,66.0,0,0.0,28.50,0,0.0,...,0,0,0,0,0,0,0,8766,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11622,9998212,173.0,46,126.0,82.0,0,0.0,19.17,0,0.0,...,0,0,0,0,0,0,1,8766,1,0
11623,9998212,153.0,52,143.0,89.0,0,0.0,25.74,0,0.0,...,0,0,0,0,0,0,1,8766,1,0
11624,9999312,196.0,39,133.0,86.0,1,30.0,20.91,0,0.0,...,0,0,0,0,0,0,1,8766,0,0
11625,9999312,240.0,46,138.0,79.0,1,20.0,26.39,0,0.0,...,0,0,0,0,0,0,1,8766,0,0
11626,9999312,NaN,50,147.0,96.0,1,10.0,24.19,0,0.0,...,0,0,0,0,0,0,1,8766,0,0

In [19]:
# sum null values
fram2_data_df.isnull().sum()

RANDID         0
TOTCHOL      409
AGE            0
SYSBP          0
DIABP          0
CURSMOKE       0
CIGPDAY       79
BMI           52
DIABETES       0
BPMEDS       593
HEARTRTE       6
GLUCOSE     1440
educ         295
PREVCHD        0
PREVAP         0
PREVMI         0
PREVSTRK       0
PREVHYP        0
TIME           0
PERIOD         0
DEATH          0
ANGINA         0
HOSPMI         0
MI_FCHD        0
ANYCHD         0
STROKE         0
CVD            0
HYPERTEN       0
TIMESTRK       0
male           0
CHD            0
dtype: int64

In [20]:
#total percentage of missing data
missing= fram2_data_df.isnull().sum()
total_percentage = (missing.sum()/fram2_data_df.shape[0])*100
print(f'Total percentage of missing data: {round (total_percentage,2)}%')

Total percentage of missing data: 24.72%

In [31]:
# Calculating mean for all columns

fram2_data_df['GLUCOSE'].describe()

count    10187.000000
mean        84.124865
std         24.993781
min         39.000000
25%         72.000000
50%         80.000000
75%         89.000000
max        478.000000
Name: GLUCOSE, dtype: float64

In [32]:
fram2_data_df['TOTCHOL'].describe()

count    11218.000000
mean       241.162418
std         45.368030
min        107.000000
25%        210.000000
50%        238.000000
75%        268.000000
max        696.000000
Name: TOTCHOL, dtype: float64

In [33]:
# Replace missing values in GLUCOSE with the mean= 84
 
fram2_data_df['GLUCOSE'] = fram2_data_df['GLUCOSE'].replace(np.NaN, 84)
fram2_data_df

,RANDID,TOTCHOL,AGE,SYSBP,DIABP,CURSMOKE,CIGPDAY,BMI,DIABETES,BPMEDS,...,ANGINA,HOSPMI,MI_FCHD,ANYCHD,STROKE,CVD,HYPERTEN,TIMESTRK,male,CHD
0,2448,195.0,39,106.0,70.0,0,0.0,26.97,0,0.0,...,0,1,1,1,0,1,0,8766,1,0
1,2448,209.0,52,121.0,66.0,0,0.0,NaN,0,0.0,...,0,1,1,1,0,1,0,8766,1,0
2,6238,250.0,46,121.0,81.0,0,0.0,28.73,0,0.0,...,0,0,0,0,0,0,0,8766,0,0
3,6238,260.0,52,105.0,69.5,0,0.0,29.43,0,0.0,...,0,0,0,0,0,0,0,8766,0,0
4,6238,237.0,58,108.0,66.0,0,0.0,28.50,0,0.0,...,0,0,0,0,0,0,0,8766,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11622,9998212,173.0,46,126.0,82.0,0,0.0,19.17,0,0.0,...,0,0,0,0,0,0,1,8766,1,0
11623,9998212,153.0,52,143.0,89.0,0,0.0,25.74,0,0.0,...,0,0,0,0,0,0,1,8766,1,0
11624,9999312,196.0,39,133.0,86.0,1,30.0,20.91,0,0.0,...,0,0,0,0,0,0,1,8766,0,0
11625,9999312,240.0,46,138.0,79.0,1,20.0,26.39,0,0.0,...,0,0,0,0,0,0,1,8766,0,0
11626,9999312,NaN,50,147.0,96.0,1,10.0,24.19,0,0.0,...,0,0,0,0,0,0,1,8766,0,0

In [34]:
# Replace missing values in TOTCHOL with the mean= 241
 
fram2_data_df['TOTCHOL'] = fram2_data_df['TOTCHOL'].replace(np.NaN, 241)
fram2_data_df

,RANDID,TOTCHOL,AGE,SYSBP,DIABP,CURSMOKE,CIGPDAY,BMI,DIABETES,BPMEDS,...,ANGINA,HOSPMI,MI_FCHD,ANYCHD,STROKE,CVD,HYPERTEN,TIMESTRK,male,CHD
0,2448,195.0,39,106.0,70.0,0,0.0,26.97,0,0.0,...,0,1,1,1,0,1,0,8766,1,0
1,2448,209.0,52,121.0,66.0,0,0.0,NaN,0,0.0,...,0,1,1,1,0,1,0,8766,1,0
2,6238,250.0,46,121.0,81.0,0,0.0,28.73,0,0.0,...,0,0,0,0,0,0,0,8766,0,0
3,6238,260.0,52,105.0,69.5,0,0.0,29.43,0,0.0,...,0,0,0,0,0,0,0,8766,0,0
4,6238,237.0,58,108.0,66.0,0,0.0,28.50,0,0.0,...,0,0,0,0,0,0,0,8766,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11622,9998212,173.0,46,126.0,82.0,0,0.0,19.17,0,0.0,...,0,0,0,0,0,0,1,8766,1,0
11623,9998212,153.0,52,143.0,89.0,0,0.0,25.74,0,0.0,...,0,0,0,0,0,0,1,8766,1,0
11624,9999312,196.0,39,133.0,86.0,1,30.0,20.91,0,0.0,...,0,0,0,0,0,0,1,8766,0,0
11625,9999312,240.0,46,138.0,79.0,1,20.0,26.39,0,0.0,...,0,0,0,0,0,0,1,8766,0,0
11626,9999312,241.0,50,147.0,96.0,1,10.0,24.19,0,0.0,...,0,0,0,0,0,0,1,8766,0,0

In [35]:
# sum null values
fram2_data_df.isnull().sum()

RANDID        0
TOTCHOL       0
AGE           0
SYSBP         0
DIABP         0
CURSMOKE      0
CIGPDAY      79
BMI          52
DIABETES      0
BPMEDS      593
HEARTRTE      6
GLUCOSE       0
educ        295
PREVCHD       0
PREVAP        0
PREVMI        0
PREVSTRK      0
PREVHYP       0
TIME          0
PERIOD        0
DEATH         0
ANGINA        0
HOSPMI        0
MI_FCHD       0
ANYCHD        0
STROKE        0
CVD           0
HYPERTEN      0
TIMESTRK      0
male          0
CHD           0
dtype: int64

In [36]:
# New total percentage of missing data
missing= fram2_data_df.isnull().sum()
total_percentage = (missing.sum()/fram2_data_df.shape[0])*100
print(f'Total percentage of missing data: {round (total_percentage,2)}%')

Total percentage of missing data: 8.82%

In [37]:
#drop nan from rows
fram2_clean_df = fram2_data_df.dropna()
fram2_clean_df.head()

,RANDID,TOTCHOL,AGE,SYSBP,DIABP,CURSMOKE,CIGPDAY,BMI,DIABETES,BPMEDS,...,ANGINA,HOSPMI,MI_FCHD,ANYCHD,STROKE,CVD,HYPERTEN,TIMESTRK,male,CHD
0,2448,195.0,39,106.0,70.0,0,0.0,26.97,0,0.0,...,0,1,1,1,0,1,0,8766,1,0
2,6238,250.0,46,121.0,81.0,0,0.0,28.73,0,0.0,...,0,0,0,0,0,0,0,8766,0,0
3,6238,260.0,52,105.0,69.5,0,0.0,29.43,0,0.0,...,0,0,0,0,0,0,0,8766,0,0
4,6238,237.0,58,108.0,66.0,0,0.0,28.50,0,0.0,...,0,0,0,0,0,0,0,8766,0,0
5,9428,245.0,48,127.5,80.0,1,20.0,25.34,0,0.0,...,0,0,0,0,0,0,0,8766,1,0

In [40]:
fram2_clean_ml_df = fram2_clean_df.rename(columns = {"TOTCHOL": "totChol", "AGE": "age", "SYSBP":"sysBP", "DIABP": "diaBP", 
                                 "CURSMOKE": "currentSmoker", "CIGPDAY": "cigsPerDay", "DIABETES": "diabetes", "BPMEDS": "BPMeds", 
                                 "HEARTRTE": "heartRate", "GLUCOSE": "glucose", "educ": "education", "PREVSTRK": "prevalentStroke", 
                                 "PREVHYP": "prevalentHyp"})
fram2_clean_ml_df.head()

,RANDID,totChol,age,sysBP,diaBP,currentSmoker,cigsPerDay,BMI,diabetes,BPMeds,...,ANGINA,HOSPMI,MI_FCHD,ANYCHD,STROKE,CVD,HYPERTEN,TIMESTRK,male,CHD
0,2448,195.0,39,106.0,70.0,0,0.0,26.97,0,0.0,...,0,1,1,1,0,1,0,8766,1,0
2,6238,250.0,46,121.0,81.0,0,0.0,28.73,0,0.0,...,0,0,0,0,0,0,0,8766,0,0
3,6238,260.0,52,105.0,69.5,0,0.0,29.43,0,0.0,...,0,0,0,0,0,0,0,8766,0,0
4,6238,237.0,58,108.0,66.0,0,0.0,28.50,0,0.0,...,0,0,0,0,0,0,0,8766,0,0
5,9428,245.0,48,127.5,80.0,1,20.0,25.34,0,0.0,...,0,0,0,0,0,0,0,8766,1,0

In [41]:
# Saving cleaned data to use for ml
fram2_clean_ml_df.to_csv('cleaned_framingham2.csv', index = False)

In [42]:
#create PostgresSQL connection
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/CAD"
engine = create_engine(db_string)
fram2_clean_ml_df.to_sql(name='framingham2', con=engine, if_exists='replace')