In [1]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
import numpy as np 
from collections import Counter
from sklearn.linear_model import LogisticRegression

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from imblearn.over_sampling import RandomOverSampler
from sklearn.metrics import balanced_accuracy_score

from sqlalchemy import create_engine
import psycopg2
from config import db_password

In [2]:
#create PostgresSQL connection
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/CAD"
engine = create_engine(db_string)
CHD_df = pd.read_sql('SELECT * FROM final_ml', engine)
CHD_df.head(10)

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,CHD
0,0,42,4.0,1,15.0,0.0,0,0,0,243.0,126.0,85.0,22.02,78.0,63.0,0
1,0,64,1.0,1,8.0,0.0,0,1,0,317.0,182.5,88.0,20.52,75.0,79.0,0
2,0,46,1.0,1,20.0,0.0,0,0,0,245.0,97.0,65.0,23.80,60.0,73.0,0
3,0,60,2.0,1,2.0,0.0,0,1,0,460.0,131.0,96.0,25.21,75.0,80.0,0
4,1,51,1.0,0,0.0,0.0,0,1,0,220.0,151.0,87.5,22.01,80.0,86.0,0
5,1,63,1.0,1,15.0,0.0,0,1,0,207.0,165.0,100.0,21.33,72.0,77.0,0
6,1,76,1.0,0,0.0,1.0,1,1,0,241.0,173.0,90.0,30.72,76.0,84.0,0
7,1,73,1.0,0,0.0,0.0,0,1,0,218.0,139.0,72.5,21.49,70.0,106.0,0
8,1,52,3.0,1,30.0,0.0,0,0,0,248.0,119.0,82.0,26.55,65.0,100.0,0
9,1,48,4.0,1,20.0,0.0,0,0,0,200.0,120.0,77.0,22.42,90.0,79.0,0

In [3]:
# DataFrame statistics 
CHD_df.describe()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,CHD
count,11191.000000,11191.000000,11191.000000,11191.000000,11191.000000,11191.000000,11191.000000,11191.000000,11191.000000,11191.000000,11191.000000,11191.000000,11191.000000,11191.000000,11191.000000,11191.000000
mean,0.438120,54.443035,1.989635,0.438299,8.502457,0.084800,0.012242,0.455991,0.045215,241.602538,136.397194,83.101019,25.882649,76.802877,84.104012,0.099723
std,0.496178,9.419929,1.029710,0.496201,12.311360,0.278597,0.109969,0.498082,0.207784,44.562488,22.982082,11.843891,4.107707,12.363930,24.751048,0.299644
min,0.000000,32.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,112.000000,83.500000,30.000000,14.430000,42.000000,39.000000,0.000000
25%,0.000000,47.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,212.000000,120.000000,75.000000,23.100000,69.000000,73.000000,0.000000
50%,0.000000,54.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,240.000000,132.000000,82.000000,25.480000,75.000000,81.000000,0.000000
75%,1.000000,61.000000,3.000000,1.000000,20.000000,0.000000,0.000000,1.000000,0.000000,267.000000,149.000000,90.000000,28.080000,85.000000,87.000000,0.000000
max,1.000000,81.000000,4.000000,1.000000,90.000000,1.000000,1.000000,1.000000,1.000000,638.000000,295.000000,150.000000,56.800000,150.000000,478.000000,1.000000

In [4]:
# Checking column data types
CHD_df.dtypes

male                 int64
age                  int64
education            int64
currentSmoker        int64
cigsPerDay           int64
BPMeds               int64
prevalentStroke      int64
prevalentHyp         int64
diabetes             int64
totChol              int64
sysBP              float64
diaBP              float64
BMI                float64
heartRate            int64
glucose              int64
CHD                  int64
dtype: object

In [5]:
# Checking for null values

CHD_df.isna().sum()

male               0
age                0
education          0
currentSmoker      0
cigsPerDay         0
BPMeds             0
prevalentStroke    0
prevalentHyp       0
diabetes           0
totChol            0
sysBP              0
diaBP              0
BMI                0
heartRate          0
glucose            0
CHD                0
dtype: int64

In [6]:
model = LogisticRegression()

In [7]:
# Split data into features and outcome
y = CHD_df["CHD"]
X = CHD_df.drop(columns="CHD")

In [8]:
# Split data into training and testing data

X_train, X_test, y_train, y_test = train_test_split(X,
    y, random_state=15, stratify=y)
Counter(y_train)

Counter({1: 837, 0: 7556})

In [9]:
# Determine the shape of our training and testing sets.
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(8393, 15)
(2798, 15)
(8393,)
(2798,)

In [10]:
LogisticRegression(C=0.1, class_weight=None, dual=False, fit_intercept=True,
   intercept_scaling=1, max_iter=100, multi_class='warn', penalty='12',
   random_state=1, solver='lbfgs', tol=0.0001, warm_start=False)

LogisticRegression(C=0.1, multi_class='warn', penalty='12', random_state=1)

In [11]:
# Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [12]:
# Using Random Over Sampler 

ros = RandomOverSampler(random_state=1)
X_resampled, y_resampled = ros.fit_resample(X_train_scaled, y_train)
Counter(y_resampled)

Counter({1: 7556, 0: 7556})

In [13]:
# Creating a logistic regression model

model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)

LogisticRegression(random_state=1)

In [14]:
# Train logistic regression model
#classifier.fit(X_train_scaled, y_train)

In [15]:
# Validate logistic regression model
#predictions = classifier.predict(X_test_scaled)
#pd.DataFrame({"Prediction": predictions, "Actual": y_test})

In [16]:
# Evaluate the model's performance 
from sklearn.metrics import balanced_accuracy_score
y_pred = model.predict(X_test_scaled)
balanced_accuracy_score(y_test, y_pred)

0.6590919762493224

In [17]:
y_pred = model.predict(X_test_scaled)
confusion_matrix(y_test, y_pred)



# Calculating the confusion matrix.
#cm = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
#cm_df = pd.DataFrame(
#    cm, index=["Actual No CHD", "Actual CHD"], columns=["Predicted No CHD", "Predicted CHD"])

#cm_df

array([[1587,  932],
       [  87,  192]])

In [18]:
# Classification report as a DataFrame

report = classification_report(y_test, y_pred)
print(report)

              precision    recall  f1-score   support

           0       0.95      0.63      0.76      2519
           1       0.17      0.69      0.27       279

    accuracy                           0.64      2798
   macro avg       0.56      0.66      0.52      2798
weighted avg       0.87      0.64      0.71      2798

In [19]:
# Get feature importance
importance = model.coef_[0]

# Summarize feature importance
for i,v in enumerate(importance):
	print('Feature: %0d, Score: %.5f' % (i,v))

Feature: 0, Score: 0.33783
Feature: 1, Score: 0.39834
Feature: 2, Score: -0.07211
Feature: 3, Score: 0.11088
Feature: 4, Score: -0.01622
Feature: 5, Score: 0.02853
Feature: 6, Score: 0.02789
Feature: 7, Score: 0.08888
Feature: 8, Score: 0.12903
Feature: 9, Score: 0.12168
Feature: 10, Score: 0.25368
Feature: 11, Score: -0.04535
Feature: 12, Score: 0.06368
Feature: 13, Score: -0.07028
Feature: 14, Score: 0.04318

In [20]:
# Features with lowest coef are: Feature 8 (diabetes), Feature 13 (heartRate)